
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
      font-size: 2.25rem;
      font-weight: 700;
  }
  
  h2{
      font-size: 1.5rem;
      font-weight: 700;
  }
  
  a {
      text-decoration: none;
      color: var(--primary-blue);
  }
  a:hover{
  }

  p strong {
      color: #00BA7C;
  }
  
  
  .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: var(--header-height);
      z-index: var(--z-fixed);
    }
    
    .Navbar_Toggle {
      background: transparent;
      border: none;
      outline: none;
      width: 42px;
      font-size: 24px;
      height: 42px;
      border-radius: 4px;
      display: none;
    }
    .Navbar_Toggle:before,
    .Navbar_Toggle:after,
    .Navbar_Toggle div {
      background: #000;
      content: "";
      display: block;
      height: 4px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }
    .Navbar_Toggle.open:before {
      transform: translateY(12px) rotate(135deg);
    }
    .Navbar_Toggle.open:after {
      transform: translateY(-10px) rotate(-135deg);
    }
    .Navbar_Toggle.open div {
      transform: scale(0);
    }
    
    .bg_main {
         background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        transform: translateZ(0px);
    }
    
    .navbar .navbar-brand {
      color: var(--first-color);
      font-family: var(--last-font);
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
    
    .navbar-light .navbar-brand:focus,
    .navbar-light .navbar-brand:hover {
      color: var(--first-color);
      opacity: 0.9;
    }
    
    .navbar-light .navbar-brand:focus-visible {
      outline: 0;
      border: 0;
    }
    
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show > .nav-link {
      color: var(--first-color);
      font-weight: 700;
    }
    .navbar-nav {
      gap: 1.25rem;
    }
    
    .navbar-light .navbar-nav .nav-link {
      color: var(--Black-color);
      font-weight: 400;
      font-size: 16px;
    }
    
    @media screen and (max-width: 991px) {
      .navbar-collapse {
        background: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }
      .Navbar_Toggle {
        display: block;
      }
      #navbar_collapse {
        height: 0;
      }
    }
    
    /*===== Hero section Style =====*/
    
    .hero {
      min-height: calc(100vh - var(--header-height));
      position: relative;
    }
    
    .hero .text_content h2 {
      font-weight: 700;
      font-size: var(--h1-font-size);
      line-height: 70px;
      letter-spacing: 0.02em;
      color: var(--Black-color);
    }
    
  
  .small {
      font-size: 80%;
      text-align: center;
  }
  
  .split-screen {
      display: flex;
      flex-direction: column;
      height: 100vh;
  }
  
  .left
  {
      height: 200px;
  
  }
  
  .right {
      height: 72%;
    
  }
  
  .left, .right{
      display: flex;
      justify-content: center;
  
      align-items: center;
  }
  
  .left {
      background-size: cover;
      
  }
  
  .alert-danger {
      color: #fc5555;
    
  }
  
  
  form .main-mockup .alert-close {
      cursor: pointer;
      height: 35px;
      width: 35px;
      line-height: 35px;
      position: absolute;
      right: -5px;
      top: -5px;
      background: #62c16e;
      border-radius: 50px;
      color: #fff;
      text-align: center;
  }
  
  form .main-mockup {
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 40px 0;
  }
  #background-video {
      width: 100%;
      background: none;
      object-fit: cover;
      position: fixed;
  
      display: flex;
   
    
      z-index: -1;
      height: 240px;
    }
  
    
  
  
  
  .left .copy {
      color: white;
      text-align: center;
      --webkit-font-smoothing: antialiased ;
      --moz-osx-font-smoothing:grayscale;
  }
  
  .left p{
      font-weight: 400;
  }
  
  .right .copy{
      color: black;
      text-align: left;
  }
  
  .right .copy p {
      margin: 1.5rem 0;
      font-size: 0.875rem;
  
  }
  
  .right form {
      width: 328px;
  
  }
  
  form input[type="text"],form input[type="email"], form input[type="password"]{
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid #c4c4c4;
      padding: 1em;
      margin-bottom:1.25rem ;
      font-size: 0.875rem;
  }
  
  label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
  
  }
  
  .input-container.password {
      position: relative;
  
  }
  
  .input-container.password i {
      position: absolute;
      top: 42px;
      right: 16px;
  }
  
  .checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  
  }
  
  .checkbox-container {
      display: block;
      position:relative;
      padding-left: 2rem;
      cursor: pointer;
      user-select: none;
      margin: 0 0 1.25rem 0;
  }
  
  .checkbox-container input:checked~.checkmark {
      background-color: var(--primary-blue);
      border: 1px solid var(--primary-blue);
  
  }
  
  .checkmark {
      position: absolute;
      width: 24px;
      height: 24px;   
      background:white;
      border: 1px solid #c4c4c4;
      border-radius: 2px;
      top: -4px;
      left: 0;
  }
  
  .checkmark::after {
      content: "";
      position: absolute;
      display: none;
  
  }
  .checkmark-container input:checked~.checkmark::after{
      display: block;
  }
  
  .signup-btn {
      display: block;
      width: 100%;
      background-color: #9891ED;
      color: white;
      font-weight: 700;
      border: none;
      padding: 1rem;
      border-radius: 8px;
      cursor: pointer;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
  
  }



 
  .signup-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @media screen and (min-width:900px){
      .split-screen {
          flex-direction: row;
          height: 100vh;
      }
     
      .left,
      .right {
          display: flex;
          width: 50%;
          height: auto;
      }
      #background-video {
          width: 50%;
          height: 100vh;
          object-fit: cover;
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      
  }