/* ===== APP CSS START ====== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Root Start */

:root {
  /* Colors */
  --firstColor: #23f649;
  --TwoColor: #00ba7c;
  --LastColor: #cefdd6;
  --GrayColor: #d1d1d1;
  --TempColor: #2c344c;
  --DarkColor: #1c243c;
  --BlackColor: #121212;
  /* Strings */
  --navHight: 85px;
  --navHightMobile: 125px;
  --secPading: 30px;
  --secMargin: 20px;
}

/* Root End */
/* Paste Font && Transition Start */

* {
  transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 300ms all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #F0EEF6;
  font-family: "Inter", sans-serif;
  padding-top: var(--navHight);
}

@media screen and (max-width: 991px) {
  body {
    padding-bottom: var(--navHightMobile);
  }
}

.choose {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  display: flex;

  align-items: center;
}

.camera {
  height: 90px;
  width: 90px;
  background-color: #00CF35;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  display: flex;
  color: #fff;
}

.camera i {
  color: #fff;
}


.video {
  height: 90px;
  width: 90px;
  background-color: #E43D30;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  display: flex;
  color: #fff;
}

.logout {
  width: 100px;
  height: 40px;
  background-color: #fb8e8e;
  color: #E51125;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 50px;
  align-items: center;

}

.create-post {
   width: 600px;
   height: 100px;
   display: flex;
   margin-top: 1rem;
  margin-left: 2rem;

   padding: 0.4rem 1rem;
   border-radius: 50px;
   align-items: center;
   background-color: #fff;

   justify-content: space-between;
}


.description {
  width: 600px;
  height: 400px;
  display: flex;
  margin-top: 1rem;
  line-height:40px;

 margin-left: 2rem;

  padding: 1.0rem 1rem;
  border-radius: 50px;
  align-items: center;
  background-color: #fff;

  justify-content: space-between;
}

.tags {
  width: 400px;
  height: 100px;
  display: flex;
  margin-top: 1rem;
 margin-left: 2rem;

  padding: 0.4rem 1rem;
  border-radius: 50px;
  align-items: center;
  background-color: #fff;

  justify-content: space-between;
}
.description textarea {
  
  height: 100%;
  width: 100%;

}
.pick-image {
  width: 600px;
  height: 620px;
  display: flex;
  
  margin-top: 1rem;
  justify-content: center;
  font-size: 50px;
  border: 2px dotted #00ba7c;
  color: #00ba7c;
  position: absolute;
  
  left: 70%;
  top: 50%;
  transform: translate(-50%,-50%);

  border-radius: 50px;
  align-items: center;
  background-color: #fff;

}

#cars {
  margin-left: 120px;
  height: 100px;
  border-radius: 50px;
  padding: 20px;
 
  border: none;
  width: 200px;
  background-color: #fff;
}


.post-x {
  
  position: relative;
  width: 100%;
  height: 90vh;
  padding: 25px;
  


}

.post_details {
  width: 100%;
  height: 100%;
}


.image {
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
    display: flex;
  width: 100%;
  float: left;
  background-color: #fff;
  

}
.card-c {
  height: 100%;
  width: 50%;
  float: left;
}
.card-des {
  height: 100px;
  width: 50%;
  position: absolute;

  border-radius: 30px;


}
.image img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.op {
  height: 100%;
  width: 50%;
 
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  float: right;
  background-color: #fff;
}
.topx {
  height: 70px;
  width: 100%;
  border-bottom: 2px solid #ececec ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;  
}

.top h3 {
  font-weight: bold;
}
.down {
  height: 90px;

  width: 100%;
  border-top: 2px solid #ececec ;

}



.down .send {
  height: 100%;
  width: 70px;
  float: right;
  background-color: #000;
}

.comment {
  height: 100%;
  width: 50%;
  float: right;
  background-color: #fff;
}
.title {
  width: 100%;
  height: 60px;
 padding: 10px;
}
.image img {
  height: 100%;
  width: 100%;
}
.p {
  display: block;
}
.x {
  display: none;
}


.create-post .profile-photo img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.video i {
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

section {
  padding: var(--secPading) 0;
  max-width: var(--secPading) 0;
}
.btn:focus {
  outline: none !important;
}

.au {
  color: inherit;
  text-decoration: none;
}

.au:hover {
  color: inherit;
  text-decoration: none;
}

/* Navbar */

.navbar__ {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: var(--navHight);
  z-index: 120;
}

.navbar__::before {
  background-color: #ececec;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
}


.navbar__ .navbar__elements .logo_company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar__elements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
}

.navbar__ .navbar_links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar_links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar__ .navbar_links ul li {
  font-size: 1rem;
  font-weight: 600;
  color: var(--BlackColor);
  transition: 300ms all ease-in-out;
}

.navbar__ .navbar_links ul li:hover {
  color: #53f872;
  transition: 300ms all ease-in-out;
}

.navbar__ .navbar_links ul li.active {
  color: var(--firstColor);
}

.navbar__ .navbar_Form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar_Form .Navbar_SearchBar {
  display: flex;
  align-items: center;
}

.navbar__ .navbar_Form .Navbar_SearchBar input {
  font-size: 0.9rem;
  background: #F0EEF6;
  border-radius: 14px;
  color: #757575;
  height: 46px;
  padding: 0.75rem;
  outline: none;
  border: none;
}

.navbar__ .navbar_Form .Navbar_SearchBar input::placeholder {
  color: #757575;
}

.navbar__ .logo_company h3 {
  margin: 0;
  font-weight: 700;
}

.navbar__ .navbar_section i {
  font-size: 1.25rem;
  color: var(--BlackColor);
  transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar__ .navbar_section i:hover {
  color: #777777;
  transition: 300ms all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar__ .navbar_section {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.navbar__ .navbar_section .profile {
  display: flex;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar__ .navbar_section .profile img {
  display: flex;
  object-fit: cover;
  width: 40px;
}

.navbar_Post_Link {
  display: flex;
  align-items: center;
}

.navbar_Post_Link button {
  outline: none;
  border: none;
  background: var(--firstColor);
  border: 1px solid transparent;
  color: #fff;
  padding: 0.7rem 1.1rem;
  border-radius: 11px;
}

.navbar_Post_Link button:hover {
  background: transparent;
  color: var(--firstColor);
  border-color: var(--firstColor);
}

#Notification {
  color: #ff0920;
}

@media screen and (min-width: 992px) {
  #Search,
  #ExitOfSearch {
    display: none;
  }
  .navbar_mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar__ .navbar_links ul,
  .navbar_Post_Link {
    display: none;
  }
  #SearchBar {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }
  #ExitOfSearch {
    display: none;
  }
  #ExitOfSearch.open {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 120;
    background: #9999;
    padding: 0.5rem;
    border-radius: 20px;
  }
  #SearchBar.open {
    display: block;
    padding-right: 3rem;
  }
  .navbar__ .navbar__elements {
    padding: 0 1.5rem;
  }
  #Emails {
    display: none;
  }
  #Search {
    display: block;
  }
}

/* Mobile Navbar */

@media screen and (max-width: 991px) {
  .navbar_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 120;
    background: #fff;
    color: #D1DBDF; 
    align-items: center;
    height: calc(var(--navHightMobile) - 65px);
  }
  .navbar_mobile::before{
    background-color: #ececec;
    top: 0;
    content: "";
    height: 1px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  .navbar_mobile .btn_createPost {
    outline: none;
    border: none;
    background: var(--firstColor);
    border: 1px solid transparent;
    color: #fff;
    padding: 0.7rem 1.1rem;
    border-radius: 50px;
  }

  .navbar_mobile .btn_createPost:hover {
    background: transparent;
    color: var(--firstColor);
    border-color: var(--firstColor);
  }
  .navbar_mobile .items {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    font-size: 1.4rem;
    align-items: center;
  }
}

/* Selector Links */

.Selector_Links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1rem;
}

@media screen and (max-width: 1024px) {
  .Selector_Links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.Selector_Links .SC_Item {
  background: var(--LastColor);
  color: var(--TwoColor);
  width: 120px;
  overflow-wrap: break-word;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 50px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}

.Selector_Links .SC_Item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.Selector_Links .SC_Item:hover::before {
  background: rgba(255, 255, 255, 0.3);
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.Selector_Links .SC_Item.active {
  background: var(--TwoColor);
  color: #fff;
  transition: 300ms all cubic-bezier(0.19, 1, 0.22, 1);
}

.Selector_Links .SC_Item p {
  margin: 0;
  user-select: none;
}

/* Post Card */

.posts_cards {
  position: relative;
  margin: var(--secMargin);
}

.grid_posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 3rem;
  margin-top: 20px;
}

.grid_postsx {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.top-profile {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin: 0 1rem;
  gap: 3rem;
  margin-top: 40px;

}

.user {
  background-color: #fff;
  padding: 43px;
  border-radius: 50px;
  display: flex;
  height: 196px;
  width: 500px;
  align-items: flex-start;
  justify-content: space-between;
}

.cover {
  height: 196px;
  width: 500px;
  border-radius: 50px;
  margin-left: 150px;
 
}

.cover img {
  width: 100%;
  border-radius: 50px;

  height: 100%;
}

.pd-row {
  display: flex;
  align-items: flex-start;

}

.pd-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50px ;
}

.grid_posts .post_box {
  overflow: hidden;
  border-radius: 50px;
  height: 460px;
  position: relative;
}

.post-info {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #ECECEC;
}
.topx h2 {
  font-weight: bold;
}
.grid_postsx .post_boxx{
  overflow: hidden;
  border-radius: 50px;
  height: 800px;
  width: 600px;
  position: relative;
}

.full_post {
  height: 54px;
}
.bottom-post {
height: 50px;
display: flex;
font-weight: bold;
justify-content:center;
align-items: center;
width: 100%;
}

.cardxx{
  max-height: fit-content;
  width: 600px;
  border-radius: 30px;
  float: right;
  background-color: #fff;
  
}
#comment-inp:focus{
  outline: none;
}
#sub-btn-cmnt{
  border: 1px solid #23f649;
  background-color: #23f649;
  color: white;
  height: 68px;
  width: 100%;
  border-radius: 1.2em;

  cursor: pointer;
}
#sub-btn-cmnt:hover{
  background-color:transparent;
  color:#23f649;
}
.topx {
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #ececec;

}
.bottomx {
  height: 60px;
  width: 100%;
  border-top: 2px solid #ececec;


}
.grid_posts .post_box:hover{
  cursor: pointer;
}
.grid_posts .post_boxx .index_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.grid_posts .post_box .index_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.grid_postsx .post_boxx .index_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.grid_posts .post_box .index_image img {
  max-width: 100%;
  object-fit: cover;
}
.grid_posts .post_box .index_image img {
  max-width: 100%;
  object-fit: cover;
}
.grid_postsx .post_boxx .index_image img {
  max-width: 100%;
  object-fit: cover;
}
.grid_posts .post_box .top {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}



.grid_postsx .post_boxx .top {
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}
.grid_posts .post_box .top .items {
  display: flex;
  gap: 1rem;
}
.grid_postsx .post_boxx .top .items {
  display: flex;
  gap: 1rem;
}
.grid_posts .post_box .top .items .item {
  width: 42px;
  height: 42px;
  display: block;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
}
.grid_postsx .post_boxx .top .items .item {
  width: 42px;
  height: 42px;
  display: block;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
}
.grid_posts .post_box .bottom {
  bottom: 0;
  color: #fff;
  opacity: 1;
  padding: 1rem;
  width: 100%;
  position: absolute;

  transition: 300ms all ease-in-out;
}

.grid_postsx .post_boxx .bottom {
  bottom: 0;
  color: #fff;
  opacity: 1;
  padding: 1rem;
  width: 100%;
  position: absolute;

  transition: 300ms all ease-in-out;
}

.grid_posts .post_box .bottom .UserImage,
.grid_posts .post_box .bottom .name_time,
.grid_posts .post_box .bottom .UserImage,
.grid_posts .post_box .bottom .post_name {
  z-index: 1;
  position: relative;
}

.grid_postsx .post_boxx .bottom .UserImage,
.grid_postsx .post_boxx .bottom .name_time,
.grid_postsx .post_boxx .bottom .UserImage,
.grid_postsx .post_boxx .bottom .post_name {
  z-index: 1;
  position: relative;
}
.grid_posts .post_box .bottom {
  display: flex;
  justify-content: space-between;
}
.grid_postsx .post_boxx .bottom {
  display: flex;
  justify-content: space-between;
}
.grid_posts .post_box .bottom .post_name {
  align-self: flex-end;
}
.grid_postsx .post_boxx .bottom .post_name {
  align-self: flex-end;
}
.grid_posts .post_box .bottom .UserImage {
  width: 48px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.grid_postsx .post_boxx .bottom .UserImage {
  width: 48px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.grid_posts .post_box .bottom .UserImage img {
  object-fit: cover;
  display: flex;
  height: 48px;
}
.grid_postsx .post_boxx .bottom .UserImage img {
  object-fit: cover;
  display: flex;
  height: 48px;
}
.grid_posts .post_box .UserDetails {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.grid_postsx .post_boxx .UserDetails {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.grid_posts .post_box::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #121212 120%);
  z-index: 0;
  transition: 300ms all ease-in-out;
}
.grid_postsx .post_boxx::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #121212 120%);
  z-index: 0;
  transition: 300ms all ease-in-out;
}
@media screen and (max-width: 991px) {
  .grid_posts .post_box::before {
    bottom: 0;
    opacity: 1;
  }
  .grid_postsx .post_boxx::before {
    bottom: 0;
    opacity: 1;
  }
}


.card {
  height: 150px;
  width: 500px;
  background-color: #fff;
  padding: 23px;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 40px;
  display: flex;



}
/* Progressbar */
.progressbar {
  position: absolute;
  left: 50%;
  transform:translate(-50%);
  display: flex;
  width: 600px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}


.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}



.form-step-active {
  display: block;
}
.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #000;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.delete {
  height:90px;
  width: 90px;
  margin-left: 20px;
  justify-content: center;
  font-size: 30px;
  align-items: center;
 
  margin-top: 10px;
  display: flex;
  border-radius: 50px;
  background-color: #EA0E0F;
  color: #fff;
}


.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}
.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: #000;
  color: #f3f3f3;
}

/* Form */
.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.grid_posts .post_box::before {
  bottom: 0;
  opacity: 1;
  transition: 300ms all ease-in-out;
}
.grid_postsx .post_boxx::before {
  bottom: 0;
  opacity: 1;
  transition: 300ms all ease-in-out;
}

.grid_posts .post_box .bottom .name_time {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grid_postsx .post_boxx .bottom .name_time {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.grid_posts .post_box .bottom .name_time .name {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
}
.grid_postsx .post_boxx .bottom .name_time .name {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.grid_posts .post_box .bottom .name_time i {
  display: inline;
  color: #1ae4ff;
}
.grid_postsx .post_boxx .bottom .name_time i {
  display: inline;
  color: #1ae4ff;
}


.grid_posts .post_box .bottom .name_time h6 {
  margin: 0;
}
.grid_postsx .post_boxx .bottom .name_time h6 {
  margin: 0;
}
.star {
  color: #FFEB00;
}
.edit {
  color: #000;
}

.comment {
  color: #000;
}

@media screen and (max-width: 991px) {
  .grid_posts {
    margin: 0;
  }
  .grid_postsx {
    margin: 0;
  }
}
input:focus,textarea:focus{
  outline:none;
}

#main-c{
  display: flex;
  width: 100vw;
  height: 73.5vh;
}
.user-chat{
  display: flex;
  gap:0.5em;
  transition: all 200ms;
  cursor:pointer;
  width: 15em;
  padding: 0.5em;
  position: relative;
}
.user-chat:hover{
  background-color: rgb(240, 240, 240);
}
.chat-name{
  font-weight: 500;
  cursor: pointer;
}
.chat-typ{
  font-size: 0.8em;
  color:#00CF35;
  font-weight: 700;
}
.bold{
  font-weight:bold;
}
#user-chat-c{
  overflow-y: auto;
  
  margin-left: 0.5em;
}
.end-chat{
  position: absolute;
  right: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.chat-date{
  font-size: 0.7em;
  opacity: 0.7;
}
.chat-unread{
  background-color: rgb(230, 0, 0);
  font-size: 0.9em;
  color:white;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.4em;
  border-radius: 50%;
  text-align: center;
}
#chat-c{
  height: 100%;
  width: 50vw;
}
.chats{
  overflow-y: auto;
  padding:0 0.5em;
}
.chat-pfp{
  height:2.5em;
  width:2.5em;
  border-radius:50%;
  cursor: pointer;
}
.chats-pfp{
  position: absolute;
  top:0
}
.chat-h{
  display:flex;
  position: relative;
}
.rest{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.not-mine-r{
  margin-left:3em;
}
.mine-r{
  justify-content: end;
  align-items: flex-end;
  max-width: 50%;
  margin-right:3em;
}
.chats{
  overflow-y: auto;
  height: 100%;
  display: flex;  
  flex-direction: column;
  position: relative;
  gap:0.5em;
  padding-bottom: 0.5em;
  background-color: rgb(246, 246, 246);
}
.mine-h{
  justify-content: end;
  align-items: flex-end;
}
.chat-user-details{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:0.5em;
}
.chat-user-details > .chat-date{
  line-height: 2.3em;
}
.chat-msg{
  word-wrap: break-word; 
  max-width: 100%;
  text-align: left;
  padding: 1em;
  border-radius: 0em 2em 2em 2em;
  background:rgb(203, 203, 203);
}
.mine{
  border-radius: 2em 0em 2em 2em;
  background:#00ba7c;
  text-align: right;
}
#chat-msg{
  border:none;
  outline:none;
  background-color: transparent;
  width: 38em;
  padding: 0 0.2em;
}
.inp-c{
  width:100%;
  height:3em;
  display: grid;
  place-items: center;
  background-color: rgb(246, 246, 246);
}
.sub-chat{
  font-size:1em;
  color: #23ee48;
  width: fit-content;
  height: fit-content;
  border:none;
  background: none;
}
.inp-f{
  background-color: rgb(230, 230, 230);
  border-radius: 0.5em;
  padding: 0 0.4em;
  width:90%;
  height:2em;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}
.profile-pfp{
  width:3em;
  height:3em
}
.top-chat{
  width: 15em;
  padding-bottom: 1em;
}
.search-user{
  margin:0 10%;
  padding: 0.5em 1em;
  background-color: rgb(230, 230, 230);
  font-size:1.1em;
  border:none;
  outline:none;
  border-radius: 0.5em;
}
.pfp-file-inp{
  height: 35em;
  width: 35em;
  display: grid;
  place-items:center;
  border:0.3em solid #23ee48;
  border-radius: 1em;
  cursor: pointer;
  margin: 1em 0;
}
.pfp-file-inp:focus,.pfp-file-inp:active{
  border-color:#21df44;
}
.pfp-file-inp:focus,.pfp-file-inp:active > .fa-camera{
  color:#21df44;
}
.fa-camera{
  font-size: 4em;
  color: #23f649;
}
.pfp-row{
  display: grid;
  /* place-content: center; */
}
.err{
  display: none;
  font-size:1rem;
  background:rgba(235, 17, 17, 0.865);
  width:fit-content;color:white;font-family:'Courier New', Courier, monospace;
  text-align:center;
  padding:0.5em 0.5em;
  border-radius:0.2em;
}